<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link href="css/style.css" rel="stylesheet" type="text/css" />
        <link href="css/sign_up.css" rel="stylesheet" type="text/css"/>

        <title>Login Page</title>
    </head>

    <body>
        <h1 class="header">Creat an Account!</h1>
        <p class="description">Sign up to network with others!</p>
        <hr class="hr">
        <div class="page-content">
            <form action="" method="POST" id="signup">
                <label for="username">Username:</label>
                <br class="input-break">
                <input class="input-break" type="text" id="username" name="username">
                <br class="input-break">
                <label class="form-label" for="email">Email:</label>
                <br class="input-break">
            </form>
        </div>
    </body>
</html>